<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.z.merchantsettle.modules.poi.dao.WmPoiDeliveryInfoDBMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.z.merchantsettle.modules.poi.domain.db.WmPoiDeliveryInfoDB">
        <id column="id" property="id" />
        <result column="wmPoiId" property="wmPoiId" />
        <result column="wmDeliveryType" property="wmDeliveryType" />
        <result column="poportion" property="poportion" />
        <result column="minMoney" property="minMoney" />
        <result column="wmPoiProjects" property="wmPoiProjects" />

        <result column="status" property="status" />
        <result column="ctime" property="ctime" />
        <result column="utime" property="utime" />
        <result column="valid" property="valid" />

        <result column="auditResult" property="auditResult"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, wmPoiId, wmDeliveryType, poportion, minMoney, wmPoiProjects,
        status,ctime,utime valid, auditResult
    </sql>

    <update id="updateSelective" parameterType="com.z.merchantsettle.modules.poi.domain.db.WmPoiDeliveryInfoDB" >
        update wm_poi_delivery
        <set >
            <if test="wmDeliveryType != null" >
                wmDeliveryType = #{wmDeliveryType},
            </if>
            <if test="poportion != null" >
                poportion = #{poportion},
            </if>
            <if test="minMoney != null" >
                minMoney = #{minMoney},
            </if>
            <if test="wmPoiProjects != null" >
                wmPoiProjects = #{wmPoiProjects},
            </if>
            <if test="auditResult != null" >
                auditResult = #{auditResult},
            </if>
            <if test="status != null" >
                status = #{status},
            </if>
            utime = unix_timestamp()
        </set>
        where id = #{id}
    </update>

    <insert id="insertSelective" parameterType="com.z.merchantsettle.modules.poi.domain.db.WmPoiDeliveryInfoDB" useGeneratedKeys="true" keyProperty="id">
        insert into wm_poi_delivery
        <trim prefix="(" suffix=")" suffixOverrides="," >
            wmPoiId,
            <if test="wmDeliveryType != null" >
                wmDeliveryType,
            </if>
            <if test="poportion != null" >
                poportion,
            </if>
            <if test="minMoney != null" >
                minMoney,
            </if>
            <if test="wmPoiProjects != null" >
                wmPoiProjects,
            </if>
            <if test="status != null" >
                status,
            </if>
            ctime,
            utime,
            valid
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{wmPoiId},
            <if test="wmDeliveryType != null" >
                #{wmDeliveryType},
            </if>
            <if test="poportion != null" >
                #{poportion},
            </if>
            <if test="minMoney != null" >
                #{minMoney},
            </if>
            <if test="wmPoiProjects != null" >
                #{wmPoiProjects},
            </if>
            <if test="status != null" >
                #{status},
            </if>
            unix_timestamp(),
            unix_timestamp(),
            1
        </trim>
    </insert>

    <select id="getByWmPoiId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM
          wm_poi_delivery
        WHERE
          wmPoiId = #{wmPoiId}
        and
          valid = 1
    </select>

    <select id="getByWmPoiIdList" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM
          wm_poi_delivery
        WHERE
          wmPoiId IN
            <foreach collection="wmPoiIdList" close=")" open="(" separator="," item="item">
                #{item}
            </foreach>
        and
          valid = 1
    </select>

    <update id="deleteByWmPoiIdList" parameterType="java.util.List" >
        update
          wm_poi_delivery
        SET
          valid = 0,
          utime = unix_timestamp()
        where
          wmPoiId
        IN
          <foreach collection="wmPoiIdList" item="item" separator="," open="(" close=")">
            #{item}
          </foreach>
    </update>
</mapper>
