<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.z.merchantsettle.modules.customer.dao.CustomerOpLogMapper" >
    <resultMap id="BaseResultMap" type="com.z.merchantsettle.modules.customer.domain.CustomerOpLog" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="customerId" property="customerId" jdbcType="INTEGER" />
        <result column="module" property="module" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="opUserId" property="opUserId" jdbcType="VARCHAR" />
        <result column="ctime" property="ctime" jdbcType="BIGINT" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, customerId, module, content, opUserId, ctime
    </sql>

    <insert id="insert" parameterType="com.z.merchantsettle.modules.customer.domain.CustomerOpLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO customer_oplog
          (customerId, module, content, opUserId, ctime)
        VALUES
          (
            #{customerOpLog.customerId},
            #{customerOpLog.module},
            #{customerOpLog.content},
            #{customerOpLog.opUserId},
            unix_timestamp()
          )
    </insert>

    <select id="getLogByCustomerId" parameterType="com.z.merchantsettle.modules.customer.domain.CustomerOpLogSearchParam" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM
          customer_oplog
        <where>
            <if test="opLogSearchParam.customerId != null and opLogSearchParam.customerId >= 0">
                and customerId = #{opLogSearchParam.customerId}
            </if>
            <if test="opLogSearchParam.module != null and opLogSearchParam.module != ''">
                and module like concat(concat('%',#{opLogSearchParam.module}),'%')
            </if>
            <if test="opLogSearchParam.content != null and opLogSearchParam.content != ''">
                and content like concat(concat('%',#{opLogSearchParam.content}),'%')
            </if>
            <if test="opLogSearchParam.opUserId != null and opLogSearchParam.opUserId != ''">
                and opUserId = #{opLogSearchParam.opUserId}
            </if>
        </where>
        order by
          id
        desc
    </select>
</mapper>