<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.z.merchantsettle.modules.customer.dao.CustomerDBMapper" >
    <resultMap id="BaseResultMap" type="com.z.merchantsettle.modules.customer.domain.db.CustomerDB" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="customerType" property="customerType" jdbcType="INTEGER" />
        <result column="customerCertificatesPic" property="customerCertificatesPic" jdbcType="VARCHAR" />
        <result column="customerCertificatesNum" property="customerCertificatesNum" jdbcType="VARCHAR" />
        <result column="customerName" property="customerName" jdbcType="VARCHAR" />
        <result column="customerLegalPerson" property="customerLegalPerson" jdbcType="VARCHAR" />
        <result column="customerCertificatesAddress" property="customerCertificatesAddress" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="customerValidTime" property="customerValidTime" jdbcType="BIGINT" />
        <result column="customerPrincipal" property="customerPrincipal" jdbcType="VARCHAR" />
        <result column="auditResult" property="auditResult" jdbcType="VARCHAR"/>
        <result column="ctime" property="ctime" jdbcType="BIGINT" />
        <result column="utime" property="utime" jdbcType="BIGINT" />
        <result column="valid" property="valid" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, customerType, customerCertificatesPic, customerCertificatesNum, customerName, customerLegalPerson,
        customerCertificatesAddress, status, customerValidTime, customerPrincipal, auditResult, ctime, utime, valid
    </sql>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
          <include refid="Base_Column_List" />
        from
          customer
        where
          id = #{id}
        and
         valid = 1
    </select>
    <update id="deleteById" parameterType="java.lang.Integer" >
        update
          customer
        SET
          utime = unix_timestamp(), valid = 0
        WHERE
          id = #{id}
    </update>
    <insert id="insertSelective" parameterType="com.z.merchantsettle.modules.customer.domain.db.CustomerDB" useGeneratedKeys="true" keyProperty="id">
        insert into customer
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="customerType != null" >
                customerType,
            </if>
            <if test="customerCertificatesPic != null" >
                customerCertificatesPic,
            </if>
            <if test="customerCertificatesNum != null" >
                customerCertificatesNum,
            </if>
            <if test="customerName != null" >
                customerName,
            </if>
            <if test="customerLegalPerson != null" >
                customerLegalPerson,
            </if>
            <if test="customerCertificatesAddress != null" >
                customerCertificatesAddress,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="customerValidTime != null" >
                customerValidTime,
            </if>
            <if test="customerPrincipal != null">
                customerPrincipal,
            </if>
            <if test="auditResult != null">
                auditResult,
            </if>
            ctime,
            utime,
            valid
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="customerType != null" >
                #{customerType},
            </if>
            <if test="customerCertificatesPic != null" >
                #{customerCertificatesPic},
            </if>
            <if test="customerCertificatesNum != null" >
                #{customerCertificatesNum},
            </if>
            <if test="customerName != null" >
                #{customerName},
            </if>
            <if test="customerLegalPerson != null" >
                #{customerLegalPerson},
            </if>
            <if test="customerCertificatesAddress != null" >
                #{customerCertificatesAddress},
            </if>
            <if test="status != null" >
                #{status},
            </if>
            <if test="customerValidTime != null" >
                #{customerValidTime},
            </if>
            <if test="customerPrincipal != null">
                #{customerPrincipal},
            </if>
            <if test="auditResult != null">
                #{auditResult},
            </if>
            unix_timestamp(),
            unix_timestamp(),
            1
        </trim>
    </insert>
    <update id="updateByIdSelective" parameterType="com.z.merchantsettle.modules.customer.domain.db.CustomerDB" >
        update customer
        <set >
            <if test="customerType != null" >
                customerType = #{customerType},
            </if>
            <if test="customerCertificatesPic != null" >
                customerCertificatesPic = #{customerCertificatesPic},
            </if>
            <if test="customerCertificatesNum != null" >
                customerCertificatesNum = #{customerCertificatesNum},
            </if>
            <if test="customerName != null" >
                customerName = #{customerName},
            </if>
            <if test="customerLegalPerson != null" >
                customerLegalPerson = #{customerLegalPerson},
            </if>
            <if test="customerCertificatesAddress != null" >
                customerCertificatesAddress = #{customerCertificatesAddress},
            </if>
            <if test="status != null" >
                status = #{status},
            </if>
            <if test="customerValidTime != null" >
                customerValidTime = #{customerValidTime},
            </if>
            <if test="valid != null" >
                valid = #{valid},
            </if>
            <if test="customerPrincipal != null">
                customerPrincipal = #{customerPrincipal},
            </if>
            <if test="auditResult != null">
                auditResult = #{auditResult},
            </if>
            utime = unix_timestamp()
        </set>
        where id = #{id}
    </update>

    <update id="deleteByCustomerId" parameterType="java.lang.Integer">
        update
          customer
        set
          utime = unix_timestamp(), valid = 0
        WHERE
          customerId = #{customerId}
        and
          valid = 1
    </update>

    <select id="getCustomerList" parameterType="com.z.merchantsettle.modules.customer.domain.CustomerSearchParam" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List"/>
        from
          customer
        <where>
            <if test="customerSearchParam.customerId != null and customerSearchParam.customerId > 0">
                and customerId = #{customerSearchParam.customerId}
            </if>
            <if test="customerSearchParam.customerName != null and customerSearchParam.customerName != ''">
                and customerName like concat(concat('%',#{customerSearchParam.customerName}),'%')
            </if>
            <if test="customerSearchParam.customerPrincipal != null and customerSearchParam.customerPrincipal != ''">
                and customerPrincipal like concat(concat('%',#{customerSearchParam.customerPrincipal}),'%')
            </if>
            and valid = 1
        </where>
        order BY
          id
        desc
    </select>
</mapper>