<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.z.merchantsettle.modules.customer.dao.CustomerSettleAuditedDBMapper" >
    <resultMap id="BaseResultMap" type="com.z.merchantsettle.modules.customer.domain.db.CustomerSettleAuditedDB" >
        <id column="id" property="id"  />
        <result column="settleAccType" property="settleAccType"  />
        <result column="settleAccName" property="settleAccName"  />
        <result column="settleAccNo" property="settleAccNo"  />
        <result column="province" property="province"  />
        <result column="city" property="city"  />
        <result column="bankId" property="bankId"  />
        <result column="branchId" property="branchId"  />
        <result column="branchName" property="branchName"  />
        <result column="reservePhoneNum" property="reservePhoneNum"  />
        <result column="financialOfficer" property="financialOfficer"  />
        <result column="financialOfficerPhone" property="financialOfficerPhone"  />
        <result column="financialOfficerCertificatesType" property="financialOfficerCertificatesType"  />
        <result column="financialOfficerCertificatesNum" property="financialOfficerCertificatesNum"  />
        <result column="settleType" property="settleType"  />
        <result column="settleCycle" property="settleCycle"  />
        <result column="settleMinAmount" property="settleMinAmount"  />
        <result column="status" property="status"  />
        <result column="ctime" property="ctime"  />
        <result column="utime" property="utime"  />
        <result column="valid" property="valid"  />
        <result column="customerId" property="customerId"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, settleAccType, settleAccName, settleAccNo, province, city, bankId, branchId, branchName,
        reservePhoneNum, financialOfficer, financialOfficerPhone,financialOfficerCertificatesType,
        financialOfficerCertificatesNum, settleType, settleCycle, settleMinAmount, status, ctime, utime, valid, customerId
    </sql>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
          <include refid="Base_Column_List" />
        from
          customer_settle_audited
        where
          id = #{id}
        and
         valid = 1
    </select>
    <update id="deleteById" parameterType="java.lang.Integer" >
        update
          customer_settle_audited
        SET
          utime = unix_timestamp(), valid = 0
        WHERE
          id = #{id}
    </update>
    <insert id="insertSelective" parameterType="com.z.merchantsettle.modules.customer.domain.db.CustomerSettleAuditedDB" useGeneratedKeys="true" keyProperty="id">
        insert into customer_settle_audited
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="settleAccType != null" >
                settleAccType,
            </if>
            <if test="settleAccName != null" >
                settleAccName,
            </if>
            <if test="settleAccNo != null" >
                settleAccNo,
            </if>
            <if test="province != null" >
                province,
            </if>
            <if test="city != null" >
                city,
            </if>
            <if test="bankId != null" >
                bankId,
            </if>
            <if test="branchId != null" >
                branchId,
            </if>
            <if test="branchName != null" >
                branchName,
            </if>
            <if test="reservePhoneNum != null" >
                reservePhoneNum,
            </if>
            <if test="financialOfficer != null" >
                financialOfficer,
            </if>
            <if test="financialOfficerPhone != null" >
                financialOfficerPhone,
            </if>
            <if test="financialOfficerCertificatesType != null" >
                financialOfficerCertificatesType,
            </if>
            <if test="financialOfficerCertificatesNum != null" >
                financialOfficerCertificatesNum,
            </if>
            <if test="settleType != null" >
                settleType,
            </if>
            <if test="settleCycle != null" >
                settleCycle,
            </if>
            <if test="settleMinAmount != null" >
                settleMinAmount,
            </if>
            <if test="status != null" >
                status,
            </if>
            ctime,
            utime,
            valid,
            customerId
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="settleAccType != null" >
                #{settleAccType},
            </if>
            <if test="settleAccName != null" >
                #{settleAccName},
            </if>
            <if test="settleAccNo != null" >
                #{settleAccNo},
            </if>
            <if test="province != null" >
                #{province},
            </if>
            <if test="city != null" >
                #{city},
            </if>
            <if test="bankId != null" >
                #{bankId},
            </if>
            <if test="branchId != null" >
                #{branchId},
            </if>
            <if test="branchName != null" >
                #{branchName},
            </if>
            <if test="reservePhoneNum != null" >
                #{reservePhoneNum},
            </if>
            <if test="financialOfficer != null" >
                #{financialOfficer},
            </if>
            <if test="financialOfficerPhone != null" >
                #{financialOfficerPhone},
            </if>
            <if test="financialOfficerCertificatesType != null" >
                #{financialOfficerCertificatesType},
            </if>
            <if test="financialOfficerCertificatesNum != null" >
                #{financialOfficerCertificatesNum},
            </if>
            <if test="settleType != null" >
                #{settleType},
            </if>
            <if test="settleCycle != null" >
                #{settleCycle},
            </if>
            <if test="settleMinAmount != null" >
                #{settleMinAmount},
            </if>
            <if test="status != null" >
                #{status},
            </if>
            unix_timestamp(),
            unix_timestamp(),
            1,
            #{customerId}
        </trim>
    </insert>
    <update id="updateByIdSelective" parameterType="com.z.merchantsettle.modules.customer.domain.db.CustomerSettleAuditedDB" >
        update customer_settle_audited
        <set >
            <if test="settleAccType != null" >
                settleAccType = #{settleAccType},
            </if>
            <if test="settleAccName != null" >
                settleAccName = #{settleAccName},
            </if>
            <if test="settleAccNo != null" >
                settleAccNo = #{settleAccNo},
            </if>
            <if test="province != null" >
                province = #{province},
            </if>
            <if test="city != null" >
                city = #{city},
            </if>
            <if test="bankId != null" >
                bankId = #{bankId},
            </if>
            <if test="branchId != null" >
                branchId = #{branchId},
            </if>
            <if test="branchName != null" >
                branchName = #{branchName},
            </if>
            <if test="reservePhoneNum != null" >
                reservePhoneNum = #{reservePhoneNum},
            </if>
            <if test="financialOfficer != null" >
                financialOfficer = #{financialOfficer},
            </if>
            <if test="financialOfficerPhone != null" >
                financialOfficerPhone = #{financialOfficerPhone},
            </if>
            <if test="financialOfficerCertificatesType != null" >
                financialOfficerCertificatesType = #{financialOfficerCertificatesType},
            </if>
            <if test="financialOfficerCertificatesNum != null" >
                financialOfficerCertificatesNum = #{financialOfficerCertificatesNum},
            </if>
            <if test="settleType != null" >
                settleType = #{settleType},
            </if>
            <if test="settleCycle != null" >
                settleCycle = #{settleCycle},
            </if>
            <if test="settleMinAmount != null" >
                settleMinAmount = #{settleMinAmount},
            </if>
            <if test="status != null" >
                status = #{status},
            </if>
            <if test="valid != null" >
                valid = #{valid},
            </if>
            utime = unix_timestamp()
        </set>
        where id = #{id}
    </update>
    <select id="getSettleList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        customer_settle_audited
        <where>
            customerId = #{customerId}
            <if test="settleIdList != null and settleIdList.size > 0">
                and id IN
                <foreach collection="settleIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            and valid = 1
        </where>
    </select>
</mapper>